h1 {
	font-family: 'Open Sans', sans-serif;
	text-decoration: underline;
}

div {
	position: relative;
	float: left;
}
img {
	margin-right: 25px;
	margin-bottom: 25px;
}

span {
	width: 200px;
    position: absolute;
    bottom: 45px;
    float: left;
    background-color: gray;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
   }
